<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120743605371-fd1ruf6ocaf2upn37k5geora0ld6k9tu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120743605371-fd1ruf6ocaf2upn37k5geora0ld6k9tu</string>
	<key>API_KEY</key>
	<string>AIzaSyAXH-sdvCX2I7fqT5CXPdYcZ8blC4X_lns</string>
	<key>GCM_SENDER_ID</key>
	<string>120743605371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventrra</string>
	<key>PROJECT_ID</key>
	<string>eventrra-app</string>
	<key>STORAGE_BUCKET</key>
	<string>eventrra-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120743605371:ios:6a3860d5d5c88d35541ede</string>
</dict>
</plist>